[submodule "deps/sapling-crypto"]
	path = deps/sapling-crypto
	url = git@github.com:EYBlockchain/zk-swap-sapling-crypto
[submodule "deps/ff"]
	path = deps/ff
	url = git@github.com:EYBlockchain/zk-swap-ff
[submodule "deps/bellman"]
	path = deps/bellman
	url = git@github.com:EYBlockchain/zk-swap-bellman
[submodule "deps/pairing"]
	path = deps/pairing
	url = git@github.com:EYBlockchain/zk-swap-pairing
[submodule "deps/libsnark"]
	path = deps/libsnark
	url = git@github.com:EYBlockchain/zk-swap-libsnark.git
